h1 {
  font-family: Rockwell, monaco;
  text-align: center;
  font-size: 3.5em;
}

h2, li {
  font-family: courier;
}

a {
  text-decoration: none;
}

li {
  line-height: 1.5em;
}

img {
  height: 325px;
}

.important {
  color: #cca559;
}

.unimportant {
  color: #22aedd;
  font-style: italic;
}
