h1 {
  font-family: Rockwell, monaco;
  text-align: center;
  font-size: 3.5em;
}

h2, li {
  font-family: courier;
  color: #cca559;
}

a {
  text-decoration: none;
}

li {
  line-height: 1.5em;
}

img {
  height: 325px;
}

.important {
  color: #cca559;
}

.unimportant {
  color: #22aedd;
  font-style: italic;
}

.roses {
  color: #f90000;
  font-family: cursive;
}

.sign {
  float: right;
}

.local-scene {
  margin: 6px;
  border: 2px solid #4286f4;
  padding: 3px;

}
